<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>credit</key>
	<dict>
		<key>topHorizontalMenus</key>
		<array>
			<dict>
				<key>tabIndex</key>
				<integer>0</integer>
				<key>titleStr</key>
				<string>融资买入</string>
				<key>iconName</key>
				<string>credit_trade_rzmr</string>
				<key>className</key>
				<string>TKCreidtRZBuyViewController</string>
			</dict>
			<dict>
				<key>tabIndex</key>
				<integer>1</integer>
				<key>titleStr</key>
				<string>融券卖出</string>
				<key>iconName</key>
				<string>credit_trade_rqmc</string>
				<key>className</key>
				<string>TKCreditRQSellViewController</string>
			</dict>
			<dict>
				<key>tabIndex</key>
				<integer>2</integer>
				<key>titleStr</key>
				<string>撤单</string>
				<key>iconName</key>
				<string>normal_trade_revoke</string>
				<key>className</key>
				<string>TKCreditTradeRevokeViewController</string>
			</dict>
			<dict>
				<key>tabIndex</key>
				<integer>3</integer>
				<key>titleStr</key>
				<string>查询</string>
				<key>iconName</key>
				<string>credit_trade_query</string>
				<key>className</key>
				<string>TKCreditTradeGatherViewController</string>
			</dict>
		</array>
		<key>verticalMenus</key>
		<array>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditTradeGatherViewController</string>
						<key>titleStr</key>
						<string>我的持仓</string>
						<key>iconName</key>
						<string>credit_trade_holding</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeBankTransferViewController</string>
						<key>titleStr</key>
						<string>银证转账</string>
						<key>iconName</key>
						<string>credit_trade_transfer</string>
					</dict>
					<dict>
						<key>tabIndex</key>
						<string>2</string>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditTradeGatherViewController</string>
						<key>titleStr</key>
						<string>担保品划转</string>
						<key>iconName</key>
						<string>credit_trade_dbphz</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditBuyViewController</string>
						<key>titleStr</key>
						<string>担保品买入</string>
						<key>iconName</key>
						<string>credit_trade_buy</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreidtSellViewController</string>
						<key>titleStr</key>
						<string>担保品卖出</string>
						<key>iconName</key>
						<string>credit_trade_sell</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditMQHKSellViewController</string>
						<key>titleStr</key>
						<string>卖券还款</string>
						<key>iconName</key>
						<string>credit_trade_mqhk</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditCashRepaymentViewController</string>
						<key>titleStr</key>
						<string>现金还款</string>
						<key>iconName</key>
						<string>credit_trade_xjhk</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditRepayFeeViewController</string>
						<key>titleStr</key>
						<string>还息费</string>
						<key>iconName</key>
						<string>credit_trade_xjhk</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditMQHQSellViewController</string>
						<key>titleStr</key>
						<string>买券还券</string>
						<key>iconName</key>
						<string>credit_trade_mqhq</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditXQHQViewController</string>
						<key>titleStr</key>
						<string>现券还券</string>
						<key>iconName</key>
						<string>credit_trade_xqhq</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>1</integer>
						<key>className</key>
						<string>TKNewSharesViewController</string>
						<key>titleStr</key>
						<string>新股申购</string>
						<key>iconName</key>
						<string>credit_trade_newshare</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>1</integer>
						<key>className</key>
						<string>TKTradeNewBondViewController</string>
						<key>titleStr</key>
						<string>新债申购</string>
						<key>iconName</key>
						<string>credit_trade_xzsg</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKCreditTradeContractExtensionViewController</string>
						<key>titleStr</key>
						<string>合约展期</string>
						<key>iconName</key>
						<string>credit_trade_hyzq</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeCreditLimitRequestViewController</string>
						<key>titleStr</key>
						<string>额度申请</string>
						<key>iconName</key>
						<string>credit_trade_edsq</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeChangePasswordViewController</string>
						<key>titleStr</key>
						<string>修改密码</string>
						<key>iconName</key>
						<string>credit_trade_xgmm</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>stockOptions</key>
	<dict>
		<key>topHorizontalMenus</key>
		<array>
			<dict>
				<key>tabIndex</key>
				<integer>0</integer>
				<key>titleStr</key>
				<string>买开</string>
				<key>iconName</key>
				<string>stocks_trade_buy</string>
				<key>className</key>
				<string>TKTradeStockHomeWebViewController</string>
				<key>webViewURL</key>
				<string>www/m/option/views/option/order/bidOpening.html</string>
			</dict>
			<dict>
				<key>tabIndex</key>
				<integer>1</integer>
				<key>titleStr</key>
				<string>卖平</string>
				<key>iconName</key>
				<string>stocks_trade_selltheflat</string>
				<key>className</key>
				<string>TKTradeStockHomeWebViewController</string>
				<key>webViewURL</key>
				<string>www/m/option/views/option/order/sellOpening.html</string>
			</dict>
			<dict>
				<key>tabIndex</key>
				<integer>2</integer>
				<key>titleStr</key>
				<string>买平</string>
				<key>iconName</key>
				<string>stocks_trade_Buyaflat</string>
				<key>className</key>
				<string>TKTradeStockHomeWebViewController</string>
				<key>webViewURL</key>
				<string>www/m/option/views/option/order/buyingPositions.html</string>
			</dict>
			<dict>
				<key>tabIndex</key>
				<integer>3</integer>
				<key>titleStr</key>
				<string>卖开</string>
				<key>iconName</key>
				<string>stocks_trade_selltoopen</string>
				<key>className</key>
				<string>TKTradeStockHomeWebViewController</string>
				<key>webViewURL</key>
				<string>www/m/option/views/option/order/sellOpen.html</string>
			</dict>
			<dict>
				<key>tabIndex</key>
				<integer>4</integer>
				<key>titleStr</key>
				<string>撤单</string>
				<key>iconName</key>
				<string>stocks_trade_revoke</string>
				<key>className</key>
				<string>TKTradeStockHomeWebViewController</string>
				<key>webViewURL</key>
				<string>www/m/option/views/option/order/cancellation.html</string>
			</dict>
		</array>
		<key>verticalMenus</key>
		<array>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>我的持仓</string>
						<key>iconName</key>
						<string>stocks_trade_myposition</string>
						<key>webViewURL</key>
						<string>www/m/option/views/option/position/holdingsQuery.html</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>行权</string>
						<key>iconName</key>
						<string>stocks_trade_exercise</string>
						<key>webViewURL</key>
						<string> www/m/option/views/option/order/exercise.html</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>银衍转账</string>
						<key>iconName</key>
						<string>stocks_trade_transfer</string>
						<key>webViewURL</key>
						<string>www/m/option/views/banking/transfer.html</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>查询</string>
						<key>iconName</key>
						<string>stocks_trade_search</string>
						<key>webViewURL</key>
						<string>www/m/option/views/option/query/mainQuery.html</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>备兑开仓</string>
						<key>iconName</key>
						<string>stocks_trade_OpenPositions</string>
						<key>webViewURL</key>
						<string> www/m/option/views/option/position/againstOpen.html</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>备兑平仓</string>
						<key>iconName</key>
						<string>stocks_trade_unwind</string>
						<key>webViewURL</key>
						<string> www/m/option/views/option/position/coveredPositions.html</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>备兑锁定</string>
						<key>iconName</key>
						<string>stocks_trade_lock</string>
						<key>webViewURL</key>
						<string> www/m/option/views/option/position/securityLock.html</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>备兑解锁</string>
						<key>iconName</key>
						<string>stocks_reade_unlock</string>
						<key>webViewURL</key>
						<string> www/m/option/views/option/position/securitiesUnlock.html</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>TKTradeStockHomeWebViewController</string>
						<key>titleStr</key>
						<string>修改密码</string>
						<key>iconName</key>
						<string>stocks_trade_change</string>
						<key>webViewURL</key>
						<string> www/m/option/views/account/changePassword.html</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirstMenus</key>
	<dict>
		<key>verticalMenus</key>
		<array>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>LSScrollViewTestViewController</string>
						<key>titleStr</key>
						<string>UIScrollView</string>
						<key>iconName</key>
						<string>normal_trade_transfer</string>
					</dict>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string></string>
						<key>descriptionStr</key>
						<string>深港通、沪港通交易及查询</string>
						<key>titleStr</key>
						<string>UITableView</string>
						<key>iconName</key>
						<string>normal_trade_ggt</string>
						<key>webViewURL</key>
						<string>www/m/trade/views/ggt/position/ggtHolding.html</string>
						<key>ctrlName</key>
						<string>trade</string>
					</dict>
				</array>
				<key>sectionFooterStr</key>
				<string></string>
				<key>sectionHeaderStr</key>
				<string>UI</string>
			</dict>
			<dict>
				<key>sectionFooterStr</key>
				<string></string>
				<key>sectionHeaderStr</key>
				<string>网络多线程</string>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string></string>
						<key>titleStr</key>
						<string>线程&amp;进程</string>
						<key>iconName</key>
						<string>normal_trade_cwjj</string>
						<key>descriptionStr</key>
						<string>认购赎回，时间灵活</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>sectionFooterStr</key>
				<string></string>
				<key>sectionHeaderStr</key>
				<string>iPhone特性</string>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>LSFontListViewController</string>
						<key>titleStr</key>
						<string>字体</string>
						<key>iconName</key>
						<string>normal_trade_change</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>sectionFooterStr</key>
				<string></string>
				<key>sectionHeaderStr</key>
				<string>runtime</string>
				<key>Items</key>
				<array>
					<dict>
						<key>cellStyle</key>
						<integer>0</integer>
						<key>className</key>
						<string>AssociatedTestViewController</string>
						<key>titleStr</key>
						<string>属性关联</string>
						<key>iconName</key>
						<string>normal_trade_change</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
